table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #c2c8f1;
}

table {
    width: 100%;
}

th {
    height: 30px;
    text-align: center;
}

td {
    height: 40px;
    width: 80px;
    vertical-align: bottom;
    text-align: center;
}

th, td {
    border-bottom: 1px solid #ddd;
}

button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}